#bigPart{
    .container{
        .row{
            .col-md-3{
                .myCard{
                    background-color: white;
                    height: 84vh;
                    .cardHeader{
                    background-color: #9298A4;
                    padding-top: 4%;
                    padding-left: 4%;
                    border-radius: 0px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    height: 50px;
                        p{
                            color: white;
                        }
                    }
                    .sound, .write, .mountine, .fashoin{
                    position: relative;
                    height: 50px;
                    line-height: 50px;
                    padding-left: 4%;
                    transition: all 0.4s linear;
                    margin-top: 4%;
                    color: white;
                    cursor: pointer;
                        span{
                            i{
                                width: 10%;
                                height: 24px;
                                border-radius: 50%;
                                line-height: 24px;
                                font-size: 1ch;
                                text-align: center;
                            }
                        }
                        p{
                            display: inline-block;
                            font-size: 1.4ch;
                            color: rgb(184, 183, 183);
                        }
                        &:hover{
                            background: rgb(235, 235, 235);
                        }
                        &::before{
                            position: absolute;
                            content: "";
                            width: 1%;
                            height: 0px;
                            background: #82B488;
                            left: 0%;
                            top: 4%;
                            transition: all 0.4s linear;
                        }
                        &:hover:before{
                            width: 1%;
                            height: 35px;
                            top: 18%;
                        }
                    }
                    .sound{
                        span{
                            i{
                                background-color: #28C2C6;
                            }
                        }
                    }
                    .write{
                        span{
                            i{
                                background-color: #F7DD65;
                            }
                        }
                    }
                    .mountine{
                        span{
                            i{
                                background-color: #363F69;
                            }
                        }
                    }
                    .fashoin{
                        span{
                            i{
                                background-color: #31879A;
                            }
                        }
                    }
                }
                .info{
                    background-color: white;
                    color: rgb(184, 183, 183);
                    padding-bottom: 20px;
                    .header{
                    padding-top: 4%;
                    padding-left: 4%;
                    border-radius: 0px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    height: 50px;
                        p{
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                    .row{
                        .col-md-3{
                            .mainPhoto{
                            width: 100%;
                            padding-left: 18%;
                                img{
                                    width: 100%;
                                    border-radius: 50%;
                                    margin-top: 10%;
                                }
                            }
                            .infoIcon{
                                margin-top: 16%;
                                i{
                                    background: transparent;
                                    width: 55%;
                                    height: 24px;
                                    border-radius: 50%;
                                    line-height: 24px;
                                    font-size: 1ch;
                                    text-align: center;
                                    border: 1px solid rgb(184, 183, 183);
                                    color: rgb(184, 183, 183);
                                    transition: all 0.5s linear;
                                }
                            }
                        }
                        .col-md-6{
                            .name{
                                p{
                                    font-weight: 500;
                                    position: relative;
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 2px;
                                        bottom: -50%;
                                        left: 0%;
                                        background: rgb(211, 209, 209);
                                    }
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        width: 0%;
                                        height: 3px;
                                        bottom: -52%;
                                        left: 0%;
                                        background: rgb(109, 204, 120);
                                        transition: all 0.5s linear;
                                    }
                                }
                            }
                        }
                        .col-md-12{
                            .button{
                                text-align: center;
                               button{
                                   position: relative;
                                    border: 1px dashed rgb(136, 22, 22);
                                    background: white;
                                    color: rgb(136, 22, 22);
                                    border-radius: 0px;
                                    &::before{
                                        border-radius:10px;
                                        position: absolute;
                                        content: "";
                                        width: 0%;
                                        height: 38px;
                                        top: -1%;
                                        left: -1%;
                                        background: rgb(109, 204, 120);
                                        transition: all 0.3s linear;
                                        border-radius: 0px;
                                        transition: all 0.4s linear;
                                    }
                                    span{
                                        position: absolute;
                                        display: none;
                                         color: white;
                                        transition: all 0.4s linear;
                                    }
                                    &:hover:before{
                                        width: 102%;
                                    }
                                    &:hover span{
                                        display: block;
                                    }
                               }
                            }
                        }
                    }
                    &:hover .col-md-6 .name p:after{
                        width: 80%;
                    }
                    &:hover .secondPerson .name p:after{
                        width: 50%;
                    }
                    &:hover .thirdPerson .name p:after{
                        width: 30%;
                    }
                    &:hover .fourthPerson .name p:after{
                        width: 30%;
                    }
                    &:hover .col-md-3 .infoIcon i{
                        color: rgb(109, 204, 120);;
                        border-color: rgb(109, 204, 120);
                        background: white;
                    }
                }
                .moreInfo{
                    background-color: white;
                    // height: 40.5vh;
                    color: rgb(184, 183, 183);
                    margin-top: 1%;
                    .header{
                    padding-top: 4%;
                    padding-left: 4%;
                    border-radius: 0px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    height: 50px;
                        p{
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                    .row{
                        .col-md-3{
                            .mainPhoto{
                            width: 100%;
                            padding-left: 18%;
                                img{
                                    width: 100%;
                                    border-radius: 50%;
                                    margin-top: 10%;
                                }
                            }
                        }
                        .col-md-9{
                            .infophoto{
                                p{
                                    font-size: 0.8ch;
                                    span{
                                        color: rgb(139, 139, 139);
                                    }  
                                    &:nth-child(2){
                                        margin-top: -5%;
                                        font-size: 0.9ch;
                                        color: rgb(184, 183, 183);
                                    }
                                }
                                
                            }
                        }
                        .col-md-12{
                            p{
                                margin-top: -5%;
                                font-size: 1ch;
                                color: rgb(139, 139, 139);
                                padding-left: 2%;
                                a{
                                    font-size: 1.1ch;
                                }
                            }
                            .image{
                                img{
                                    margin-left: 25%;
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
            .col-md-6{
                .leftSide{
                    font-size: 1ch;
                    margin-top: 10%;
                    background: white;
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    p{
                        margin-top: -5%;
                        padding-left: 4%;
                    }
                    .header{
                        p{
                            margin-bottom: 10%;
                            margin-top: 0%;
                        }
                    }
                    .day{
                        transition: all 0.5s linear;
                       &:hover{
                        background: #9298A4;
                       }
                    }
                    .email{
                        p{
                            span{
                                color:rgb(40, 194, 198);
                            }
                        }
                         transition: all 0.5s linear;
                       &:hover{
                        background: #9298A4;
                       }
                    }
                    .photo{
                        span{
                            img{
                                width: 12%;
                                border-radius: 50%;
                                margin-top: -6%;
                                height: 27px;
                                margin-left: 5%;
                            }
                        }
                    }
                    .open{
                        margin-top: 10%;
                        span{
                            img{
                                width: 12%;
                                border-radius: 50%;
                                margin-top: -6%;
                                height: 27px;
                                margin-left: 5%;
                            }
                        }
                        p{
                            text-align: center;
                            margin-top: -10%;
                            span{
                                margin-left: -21%;
                                color: #28C2C6;
                            }
                        }
                    }
                }
                .downRow{
                    .col-md-12{
                        .rounds{
                            font-size: 1ch;
                            margin-top: 10%;
                            background: white;
                            width: 100%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            p{
                                margin-top: -5%;
                                padding-left: 4%;
                            }
                            .header{
                                p{
                                    margin-bottom: 10%;
                                    margin-top: 0%;
                                }
                            }
                            .col-md-12{
                                .design{
                                    width: 100%;
                                    height: 120px;
                                    .round1, .round2, .round3, .round4, .round5, .round6, .round7, .round8, .round9, .round10{
                                        position: absolute;
                                        background: rgba(255, 0, 0, 0.493);
                                        color: white;
                                        border-radius: 50%;
                                        font-size: 1ch;
                                        text-align: center;
                                    }
                                    .round1{
                                        width: 28%;
                                        height: 65px;
                                        line-height: 65px;
                                        z-index: 10;
                                        top: 8%;
                                        left: 40%;
                                        font-size: 2ch;
                                    }
                                    .round2{
                                        background: rgba(255, 255, 0, 0.575);
                                        top: -7%;
                                        left: 25%;
                                        z-index: 9;
                                        width: 22%;
                                        height: 54px;
                                        line-height: 54px;
                                        font-size: 1.5ch;
                                    }
                                    .round3{
                                        background: rgba(0, 128, 0, 0.5);
                                        top: 30%;
                                        left: 1%;
                                        z-index: 8;
                                        width: 21%;
                                        height: 50px;
                                        line-height: 50px;
                                        font-size: 1.5ch;
                                    }
                                    .round4, .round5, .round6, .round7, .round8, .round9, .round10{
                                        background: rgba(128, 128, 128, 0.61);
                                    }
                                    .round4{
                                        top: 12%;
                                        left: 1%;
                                        z-index: 7;
                                        width: 13%;
                                        height: 33px;
                                        line-height: 33px;
                                    }
                                    .round5{
                                        top: 30%;
                                        left: 20%;
                                        z-index: 6;
                                        width: 14%;
                                        height: 34px;
                                        line-height: 34px;
                                    }
                                    .round6{
                                        top: 44%;
                                        left: 34%;
                                        z-index: 6;
                                        width: 20%;
                                        height: 47px;
                                        line-height: 47px;
                                    }
                                    .round7{
                                        top: -19%;
                                        left: 55%;
                                        z-index: 3;
                                        width: 25%;
                                        height: 60px;
                                        line-height: 60px;
                                    }
                                    .round8{
                                        top: 26%;
                                        left: 63%;
                                        z-index: 3;
                                        width: 17%;
                                        height: 39px;
                                        line-height: 39px;
                                    }
                                    .round9{
                                        top: 42%;
                                        left: 80%;
                                        z-index: 0;
                                        width: 18%;
                                        height: 43px;
                                        line-height: 43px;
                                    }
                                    .round10{
                                        top: 23%;
                                        left: 91%;
                                        z-index: 0;
                                        width: 8%;
                                        height: 19px;
                                        line-height: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .rightCol-6{
                .leftSide{
                    font-size: 1ch;
                    margin-top: 10%;
                    background: white;
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    p{
                        margin-top: -5%;
                        padding-left: 4%;
                    }
                    .header{
                        p{
                            margin-bottom: 10%;
                            margin-top: 0%;
                        }
                    }
                    .americanImage{
                        img{
                            width: 100%;
                            height: 130px;
                            margin-top: -11%;
                        }
                    }
                }
            }
            .rightDownCol-12{
                // padding: 0;
                .leftSideDown{
                    font-size: 1ch;
                    margin-top: 10%;
                    background: white;
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    p{
                        margin-top: -5%;
                        padding-left: 4%;
                    }
                    .header{
                        p{
                            margin-bottom: 10%;
                            margin-top: 0%;
                        }
                    }
                    .row{
                        div{
                            h6{
                                font-size: 2ch;
                                display: inline-block;
                                margin-right: 40%;
                                padding-left: 4%;
                                transition: all 0.5s linear;
                            }
                            span{
                                opacity: 0;
                                transition: all 0.5s linear;
                            }
                        }
                        .design{
                            position: relative;
                            transition: all 0.5s linear;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0%;
                                left: 4%;
                                width: 91%;
                                height: 2px;
                                background: rgba(128, 128, 128, 0.61);
                                transition: all 0.5s linear;
                            }
                        }
                        .beauty{
                            position: relative;
                            transition: all 0.5s linear;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0%;
                                left: 4%;
                                width: 66%;
                                height: 2px;
                                background: rgba(128, 128, 128, 0.61);
                                transition: all 0.5s linear;
                            }
                        }
                        .food{
                            position: relative;
                            transition: all 0.5s linear;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0%;
                                left: 4%;
                                width: 62%;
                                height: 2px;
                                background: rgba(128, 128, 128, 0.61);
                                transition: all 0.5s linear;
                            }
                        }
                        .life{
                              position: relative;
                              transition: all 0.5s linear;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0%;
                                left: 4%;
                                width: 95%;
                                height: 2px;
                                background: rgba(128, 128, 128, 0.61);
                                transition: all 0.5s linear;
                            }
                        }
                        .entertainment{
                            position: relative;
                            transition: all 0.5s linear;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: 0%;
                                left: 4%;
                                width: 86%;
                                height: 2px;
                                background: rgba(128, 128, 128, 0.61);
                                transition: all 0.5s linear;
                            }
                        }
                    }
                    &:hover .entertainment:before{
                        width: 0%;
                        background: #82B488;
                    }
                    &:hover .entertainment span{
                        opacity: 1;
                        color: #82B488;
                    }
                    &:hover .life:before{
                        width: 0%;
                        background: #82B488;
                    }
                    &:hover .life span{
                        opacity: 1;
                        color: #82B488;
                    }
                    &:hover .food:before{
                        width: 0%;
                        background: #82B488;
                    }
                    &:hover .food span{
                        opacity: 1;
                        color: #82B488;
                    }
                    &:hover .beauty:before{
                        width: 0%;
                        background: #82B488;
                    }
                    &:hover .beauty span{
                        opacity: 1;
                        color: #82B488;
                    }
                    &:hover .design:before{
                        width: 0%;
                        background: #82B488;
                    }
                    &:hover .design span{
                        opacity: 1;
                        color: #82B488;
                    }
                    &:hover div h6{
                        margin-right: 5%;
                    }
                }
            }
        }
    }
}